<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533234919392-9ugkdrovhlulm69ajculfvi00q1dlhid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533234919392-9ugkdrovhlulm69ajculfvi00q1dlhid</string>
	<key>API_KEY</key>
	<string>AIzaSyBDTVxz_c8-Dqpkyp6hlZ0__GBTkqvbFas</string>
	<key>GCM_SENDER_ID</key>
	<string>533234919392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>report-f28dd</string>
	<key>STORAGE_BUCKET</key>
	<string>report-f28dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533234919392:ios:44484d7585209676a7ad85</string>
</dict>
</plist>